@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

body{
  font-family: 'Comfortaa', cursive;
  font-size: 18px;
  color: rgb(37, 35, 35);
}

.App{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.flex-Conteiner{
  display:flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  border: 2px solid rgba(0,0,0,.1);
  border-radius: 10px;
  padding: 20px;
  margin-right: 10px;
  margin-left: 10px;
}
.ConvertItem{
  display: flex;
  width: 100%;
  position: relative;
}
.Currence{
  height: 50px;
  border-radius: 10px 0px 0px 10px;
  border: 2px solid rgba(0,0,0,.1);
  padding: 0px; 
  box-sizing: border-box;
  text-align:right;
  padding-right: 10px;
  width: 50%;
  line-height: 50px;
  font-family: 'Comfortaa', cursive;
  font-size: 14px;
  color: rgb(37, 35, 35);
}

select{
  height: 50px;
  border-radius: 0px 10px 10px 0px;
  border: 2px solid rgba(0,0,0,.1);
  border-left: none;
  box-sizing: border-box;
  width: 50%; 
  padding-right: 10px; 
  text-align: end;
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
  font-family: 'Comfortaa', cursive;
  font-size: 14px;
  color: rgb(37, 35, 35);
}
.title{
  position: absolute;
  background: #ffffff;
  left: 20px;
  top: -10px;
  font-size: 18px;
  padding-left: 5px;
  padding-right: 5px;
}
.remove{
  cursor: pointer;
  padding: 10px;
}
.info{
  padding-top: 15px;
}
.given{
  margin-top: 24px;
}
button{
  border: none;
  background: none;
}